button {
    border-radius: 20px;
    padding: 0;
    font-size:20px;
   
}

.back-position{
    position: relative;
    background-color: rgba(68, 74, 80, 0.767);
    width:400px;
    height: 600px;
    margin: 0 auto;
}


#addition{
    position: absolute;
    width: 80px;
    height: 50px;
    /*bottom: 0px;*/
}
#filter{
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: absolute;
    width: 80px;
    height: 20px;
    top: 5px;
    right: 5px;
}
